<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Category & Candidates!</title>
</head>
<body>
    <div>
        <p>Submit Category & Candidates!</p>

        <form action="" role="form" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" value="submit">Submit</button>
        </form>

        <form action="http://127.0.0.1:8000/user/">
             <input type="submit" value="Admin">
        </form>

    </div>

</body>
</html>